body {
  font-family: "Nunito Sans", sans-serif;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

button {
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.subtitle {
  padding: 0 65px;
  @extend %NunitoSans-Regular-400;
  font-size: 16px;
  line-height: 60px;
  color: #fff;
  position: relative;
  text-transform: uppercase;
  &:before{
    position: absolute;
    content: '';
    left: 0;
    width: 55px;
    background: #9A6437;
    height: 1.2px;
    top: 50%;
    transform: translateY(-50%);
  }
}
