@import "reset";
@import "fonts";
@import "vars";
@import "global";

.header {
  height: 100vh;
  background: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header-top {
  background: #d3cbc5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px 0;
  }
  &__wrapper {
    display: flex;
    align-items: center; /*
    width: 100%;
    margin-left: 206px;*/
    width: calc(100% - 85px);
    margin-left: auto;
  }
  &__list {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  &__item + .header-top__item {
    margin-left: 42px;
  }
  &__link {
    @extend %NunitoSans-Light-300;
    font-size: 16px;
    line-height: 60px;
    color: #1b1a1a;
    transition: all 0.6s ease-in-out;
    &:hover {
      border-bottom: 0.5px solid #1b1a1a;
    }
  }
  &__nav {
    margin-left: auto;
    margin-right: 0;
  }
  &__cart {
    margin-left: 27px;
  }
  &__menu {
    width: 28px;
    height: 28px;
    margin-top: -14px;
    display: none;
    span {
      position: relative;
      display: block;
    }
    span:after,
    span:before {
      content: "";
      position: absolute;
      left: 0;
      top: 9px;
    }
    span:after {
      top: 18px;
    }
    span,
    span:after,
    span:before {
      width: 100%;
      height: 2px;
      background-color: #fff;
      transition: all 0.3s;
      backface-visibility: hidden;
      border-radius: 2px;
    }
  }
  &__menu.on span {
    background-color: transparent;
  }

  &__menu.on span:before {
    transform: rotate(45deg) translate(-1px, 0px);
  }

  &__menu.on span:after {
    transform: rotate(-45deg) translate(6px, -7px);
  }
}
.header-body {
  &__inner {
    padding-left: 24px;
    height: calc(100vh - 104px);
    display: flex;
  }
  &__wrapper {
    margin: auto 0;
    padding-top: 22px;
    padding-left: 21px;
    //background: rgba($color: #fff, $alpha: 0.4);
    position: relative;
    &:before,
    &:after {
      position: absolute;
      content: "";
      background: #6b6c71;
    }
    &:before {
      top: 0;
      left: -24px;
      width: 292px;
      height: 1px;
    }
    &:after {
      top: -28px;
      left: 0;
      height: 261px;
      width: 1px;
    }
  }
  &__subtitle {
    @extend %NunitoSans-Regular-400;
    font-size: 16px;
    //line-height: 60px;
    color: #2c314b;
  }
  &__title {
    max-width: 361px;
    width: 100%;
    margin: 7px 0 15px;
    @extend %NunitoSans-SemiBold-600;
    font-size: 50px;
    line-height: 60px;
    color: #1b1a1a;
  }
  &__price {
    @extend %NunitoSans-Regular-400;
    font-size: 24px;
    //line-height: 60px;
    color: #121211;
    margin-bottom: 21px;
  }
  &__span {
    font-size: 16px;
    color: #878787;
  }
  &__wrap {
    //background: yellowgreen;
    width: fit-content;
    height: fit-content;
    position: relative;
    &:before,
    &:after {
      position: absolute;
      content: "";
      background: #000;
    }
    &:before {
      top: 0;
      right: 0;
      width: 122px;
      height: 0.6px;
    }
    &:after {
      bottom: 0;
      left: 0;
      height: 45px;
      width: 0.6px;
    }
  }
  &__shop {
    background: #1c1b1b;
    padding: 7px 17px;
    @extend %NunitoSans-SemiBold-600;
    font-size: 14px;
    color: #fff;
    position: relative;
    &:before,
    &:after {
      position: absolute;
      content: "";
      background: #000;
    }
    &:before {
      width: 122px;
      height: 0.6px;
      bottom: 0;
      left: 0;
    }
    &:after {
      height: 45px;
      width: 0.6px;
      top: 0;
      right: 0;
    }
  }
}
.slider {
  &__wrapper {
    padding: 94px 0 57px;
  }
  &__inner {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    //background: rgba(crimson, $alpha: .4);
    .slick-slide > div {
      width: 350px;
      //border: 1px solid #000;
      position: relative;
      min-height: 449px;
      margin: 0 auto;
      .slider__item {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .slick-arrow {
      position: absolute;
      left: -74px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      //background: rgba(#000, .5);
    }
    .slick-next.slick-arrow {
      right: -74px;
      margin-left: auto;
      width: fit-content;
    }
  }
  &__item,
  &__card {
    max-width: 350px;
    width: 100%;
    min-height: 449px;
  }
  &__card {
    background: #e5e6e6;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
  }
  &__text {
    max-width: 215px;
    width: 100%;
    @extend %NunitoSans-Regular-400;
    font-size: 30px;
    line-height: 40px;
    color: #282828;
    margin-bottom: 16px;
    margin-left: 31px;
  }
  .header-body__shop {
    color: #1b1a1a;
    background: transparent;
  }
  .header-body__wrap {
    margin-left: 36px;
  }
  &__img {
    margin-left: auto;
    margin-top: auto;
  }
}
.team {
  padding: 57px 0 91px;
  &__subtitle {
    margin-bottom: 21px;
    color: #9a6437;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    @extend %NunitoSans-Regular-400;
    font-size: 42px;
    line-height: 60px;
    color: #1b1a1a;
  }
  &__btn {
    @extend %NunitoSans-Regular-400;
    font-size: 16px;
    //line-height: 60px;
    color: #353535;
    padding: 3px 19px;
  }
  &__btn--active {
    @extend %NunitoSans-SemiBold-600;
    background: #1c1b1b;
    color: #fff;
    border-radius: 4px;
    transition: all 0.6s ease;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 39px;
    margin-top: 34px;
  }
  &__card {
    max-width: 255px;
    width: 100%;
    min-height: 345px;
  }
  &__head {
    min-height: 275px;
    background: #f7f7f7;
    display: grid;
    place-items: center;
  }
  &__content {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    background: #1c1b1b;
    padding: 9px 0;
  }
  &__info {
    min-height: auto;
    padding-top: 6px;
    //background: rgba($color: #000000, $alpha: 0.25);
  }
  &__info-title {
    @extend %NunitoSans-SemiBold-600;
    font-size: 18px;
    line-height: 28px;
    color: #282828;
  }
  &__price {
    display: flex;
    align-items: center;
    column-gap: 9px;
    @extend %NunitoSans-Regular-400;
    font-size: 15px;
    line-height: 28px;
    color: #000;
  }
  &__price-old {
    color: #737373;
    position: relative;
    &:before {
      position: absolute;
      content: "";
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background: #737373;
      height: 1px;
      width: 100%;
    }
  }
}
.clients {
  background-image: url("../img/clients-bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    inset: 0;
    background: rgba(14, 14, 14, 0.39);
    z-index: 0;
  }
  &__inner {
    padding: 73px 0 82px;
    text-align: center;
    z-index: 1;
    position: relative;
  }
  &__subtitle {
    max-width: 278px;
    padding: 0 65px;
    margin: 0 auto;
  }
  .subtitle {
    &:before {
      background: #fff;
    }
    &:after {
      position: absolute;
      content: "";
      right: 0;
      width: 55px;
      background: #fff;
      height: 1.2px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__title {
    @extend %NunitoSans-Regular-400;
    font-size: 42px;
    line-height: 60px;
    color: #fff;
    margin-bottom: 132px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 255px;
    width: 100%;
    min-height: 314px;
    background: #fff;
    text-align: center;
    padding: 0 17px 29px;
    transition: all 0.5s ease-in-out;
    &:hover {
      transform: translateY(-52px);
    }
  }
  &__images {
    width: 111px;
    height: 111px;
    margin: 0 auto;
    transform: translateY(-34px);
  }
  &__img {
    width: 111px;
    height: 111px;
    object-fit: cover;
    border-radius: 50%;
    background: #d9d9d9;
  }
  &__name,
  &__post,
  &__rating {
    @extend %NunitoSans-Regular-400;
  }
  &__name {
    font-size: 24px;
    line-height: 34px;
    color: #1b1a1a;
    margin-bottom: 6px;
  }
  &__post,
  &__rating,
  &__text {
    font-size: 14px;
    line-height: 24px;
    color: #999999;
    margin-bottom: 3px;
  }
  &__rating {
    color: #000000;
    margin-bottom: 7px;
  }
  &__text {
    @extend %NunitoSans-Light-300;
    margin: 0;
    border-top: 1px solid #e0e0e0;
    padding-top: 7px;
  }
}
.product {
  &__inner {
    padding: 106px 0 50px;
  }
  &__subtitle {
    color: #9a6437;
    margin-bottom: 21px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    @extend %NunitoSans-Regular-400;
    font-size: 42px;
    line-height: 60px;
    color: #1b1a1a;
  }
  .header-body__shop {
    color: #1b1a1a;
    background: transparent;
  }
  .header-body__wrap:before {
    width: 147px;
  }
  .header-body__shop:before {
    width: 147px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    margin-top: 111px;
    background: #1c1b1b;
    padding: 53px 51px;
  }
  &__item {
    display: flex;
    align-items: center;
    padding-left: 19px;
    border-left: 1px solid #a6a6a6;
  }
  &__wrap {
    margin-left: 16px;
  }
  &__text,
  &__description {
    @extend %NunitoSans-Regular-400;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
  }
  &__description {
    font-size: 15px;
  }
}
.articles {
  &__inner {
    padding: 50px 0 134px;
    text-align: center;
  }
  &__subtitle {
    max-width: 278px;
    margin: 0 auto 21px;
    color: #9a6437;
  }
  .subtitle {
    &:after {
      position: absolute;
      content: "";
      right: 0;
      width: 55px;
      background: #9a6437;
      height: 1.2px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__title {
    @extend %NunitoSans-Regular-400;
    font-size: 42px;
    line-height: 60px;
    color: #1b1a1a;
  }
  &__slider {
    //background: crimson;
    max-width: 1110px;
    margin: 44px auto 0;
    .slick-arrow {
      position: absolute;
      left: -74px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      //background: rgba(#000, .5);
    }
    .slick-next.slick-arrow {
      right: -74px;
      margin-left: auto;
      width: fit-content;
    }
  }
  &__item,
  &__card {
    max-width: 350px;
    width: 100px;
    min-height: 501px;
    background: #fff;
  }
  &__images {
    width: 350px;
    height: 304px;
    position: relative;
    .articles__date {
      position: absolute;
      left: 29px;
      bottom: -13px;
    }
  }
  &__img {
    width: 350px;
    height: 304px;
    object-fit: cover;
  }
  &__date {
    background: #fff;
    border-bottom: 3px solid #b47139;
    padding: 9px 9px 7px;
  }
  &__num {
    @extend %NunitoSans-Regular-400;
    font-size: 17px;
    color: #000;
  }
  &__span {
    @extend %NunitoSans-Light-300;
    font-size: 12px;
    color: #000;
  }
  &__info {
    width: 350px;
    border: 1px solid #acacac;
    padding: 37px 28px 18px;
  }
  &__wrap {
    display: flex;
    align-items: center;
    column-gap: 27px;
    margin-bottom: 10px;
  }
  &__user,
  &__comment {
    display: flex;
    align-items: center;
    @extend %NunitoSans-Light-300;
    font-size: 14px;
    line-height: 28px;
    color: #808080;
    img {
      margin-right: 7px;
    }
  }
  &__link {
    display: block;
    text-align: left;
    @extend %NunitoSans-Regular-400;
    font-size: 20px;
    color: #2e2d2d;
    margin-bottom: 13px;
  }
  .header-body__shop {
    color: #1b1a1a;
    background: transparent;
  }
  .header-body__wrap:before {
    width: 160px;
  }
  .header-body__shop:before {
    width: 160px;
  }
}
.footer-top {
  background-image: url("../img/footer-bg.png");
  padding: 88px 0 78px;
  background-position-x: center;
  background-repeat: no-repeat;
  &__inner {
    max-width: 423px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  &__title {
    @extend %NunitoSans-Regular-400;
    font-size: 36px;
    line-height: 46px;
    color: #1b1a1a;
    margin: 15px auto 7px;
  }
  &__text {
    max-width: 406px;
    @extend %NunitoSans-Light-300;
    font-size: 18px;
    line-height: 28px;
    color: #5e5e5e;
  }
  &__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 17px;
  }
  &__input {
    padding: 11px 13px 10px;
    max-width: 275px;
    width: 100%;
    &::placeholder {
      @extend %NunitoSans-Light-300;
      font-size: 12px;
      line-height: 28px;
      color: #8e8e8e;
    }
  }
  &__input,
  &__btn {
    border: 0.8px solid #5a5a5a;
    border-radius: 4px;
    background: transparent;
  }
  &__btn {
    @extend %NunitoSans-Light-300;
    font-size: 12px;
    //line-height: 28px;
    color: #1b1a1a;
    padding: 11px 30px 10px;
  }
}
.footer-bottom {
  &__inner {
    padding: 15px 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__copyright {
    @extend %NunitoSans-Light-300;
    font-size: 12px;
    line-height: 28px;
    color: #424242;
  }
  &__list {
    display: flex;
    align-items: center;
  }
  &__item + .footer-bottom__item {
    margin-left: 21px;
  }
}
@import "media--1024";
@import "media--768";
@import "media--375";
